<!DOCTYPE html>
<html>
  <head>
    <title>我的资源</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="head">Welcome!欢迎<a href="/insert">上传</a>资源！</div>
    <div id="top">
    	<ul>
    		<li class="li-first">电影</li>
    		<li>动作片</li>
    		<li>科幻片</li>
    		<li>恐怖片</li>
    		<li>其他</li>
    	</ul>
    	<ul>
    		<li class="li-first">动漫</li>
 			<li>热血</li>
			<li>搞笑</li>
			<li>恐怖</li>
			<li>其他</li>
    	</ul>
    	<ul>	
    		<li class="li-first">其他</li>    			
    		<li>系统</li>
    		<li>游戏</li>
    		<li>应用</li>
    		<li>其他</li>	
    	</ul>
    </div>
    <div id="main">
    	<p>最近更新</p>
    	<ul>
    		<li>
    			<div class="showNew">
    				<img src="/images/Another.jpg" alt="展示图片"><br>
    				<span>文件名称：Another01--因果</span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    		<li>
    			<div class="showNew">
    				<img src="/images/test.jpg" alt="展示图片">
    				<span>文件名称：<%= title %></span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    		<li>
    			<div class="showNew">
    				<img src="/images/test.jpg" alt="展示图片">
    				<span>文件名称：<%= title %></span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    	</ul>
    	<ul>
    		<li>
    			<div class="showNew">
    				<img src="/images/Another.jpg" alt="展示图片">
    				<span>文件名称：Another01--因果</span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    		<li>
    			<div class="showNew">
    				<img src="/images/One.jpg" alt="展示图片">
    				<span>文件名称：One</span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    		<li>
    			<div class="showNew">
    				<img src="/images/test.jpg" alt="展示图片">
    				<span>文件名称：<%= title %></span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    	</ul>
    	<ul>
    		<li>
    			<div class="showNew">
    				<img src="/images/test.jpg" alt="展示图片">
    				<span>文件名称：<%= title %></span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    		<li>
    			<div class="showNew">
    				<img src="/images/test.jpg" alt="展示图片">
    				<span>文件名称：<%= title %></span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    		<li>
    			<div class="showNew">
    				<img src="/images/test.jpg" alt="展示图片">
    				<span>文件名称：<%= title %></span>
    				<span>上传时间：2017</span>
    			</div>
    		</li>
    	</ul>
    	<div class="clear-float"></div>
    </div>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
